#nav {
  justify-content: center;
}
.nav-div {
  display: flex;
}

.containe-fluid {
  padding: 0;
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel.item {
  /* height: 70vh; */
}
.rounded {
  width: 100%;
}

#about-us {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 253, 250, 1) 35%,
    rgba(206, 246, 244, 1) 100%
  );
  display: flex;
  width: 100%;
  padding: 20px;
  margin-top: 2em;
}

.about-text-box {
  width: 50%;
  padding: 1em;
}
.about-us-title {
  text-align: center;
}
.about-us-img {
  width: 50%;
}
#team {
    width: 100%;
    background: rgb(206,246,244);
    background: linear-gradient(180deg, rgba(206,246,244,1) 0%, rgba(226,254,218,1) 54%, rgba(233,250,157,1) 100%);
    padding: 2em;
}
.team-text {
  text-align: center;
}
.team-cards {
  display: flex;
  height: auto;
  justify-content: space-around;
  margin: 2em 0 0;
}

.team-card {
    width: 20%;
    transition: transform 1s;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
}

.team-card:hover {
    transform: scale(1.2);

}
.team-card-img {
    /* background-color: #ddd; */
    border-radius: 50%;
    height: 200px;
    object-fit: cover; 
    width: 200px; 
   
  
  /* clip-path: circle(50% at 50% 50%); */
  
}
.team-card-name,
.team-card-text {
    text-align: center;
}

.team-card-name {
   margin-top: 1em;
}

#products {
    background: rgb(233,250,157);
    background: linear-gradient(180deg, rgba(233,250,157,1) 0%, rgba(255,246,177,1) 49%, rgba(255,225,61,1) 100%); 
}

#products h3 {
    text-align: center;
}

.products-card p {
    text-align: center;
}

.products-card p span {
    font-weight: 700;
}

.products-container{
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.products-card {
    width: 21%;

}
.products-img {
    width: 100%;
    border-radius: 5%;
}

.products-name {
    margin: 1em 0 0;
}

footer {
    text-align: center;
    padding: 2em;
}

.footer-logos {
    display: flex;
    justify-content: center;
}

.fi {
    display: flex;
    font-size: 2em;
    padding: 1em;
}