
#nav {
    justify-content: center;
}
.nav-div{
    display: flex;
  
}

.containe-fluid {
    padding: 0;
}

#carouselExampleIndicators .carousel-inner, #carouselExampleIndicators .carousel.item {
    height: 70vh;
}
.rounded {
    width: 40%;
}



#about-us {
    display: flex;
    width: 100%; 
}

.team-card-img {
    height: auto;
    width: 20%;
    clip-path: circle(50% at 50% 50%);
    /* border-radius: 50%; */

}
